.inner-box {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
}

.outer-box {
    height: 400px;
    width: 400px;
    gap: 10px;
    border: 3px dotted blue;
    display: flex;
    flex-wrap: wrap;
}